env:
  es6: true
  serviceworker: true

parserOptions:
  sourceType: module
  
rules:
  # ECMAScript 6
  # http://eslint.org/docs/rules/#ecmascript-6
  arrow-parens: [2, "always"]
  arrow-spacing: [2, {"before": true, "after": true}]
  no-const-assign: 2
  prefer-const: 2
